<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      type="image/png"
      href="https://assets.tryhackme.com/img/favicon.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Python Flask Bucket List App - Sign Up</title>
    <!-- <link href="../static/bootstrap.min.css" rel="stylesheet" />
		<link href="../static/signup.css" rel="stylesheet" /> -->

    <link rel="stylesheet" href="../static/style.css" />
    <!-- <link rel="stylesheet" href="bootstrap.min.css" /> -->
  </head>

  <body class="h-full">
    <div class="min-h-full">
      <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              <!-- Mobile menu button-->
              <button
                type="button"
                class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                aria-controls="mobile-menu"
                aria-expanded="false"
                id="mobile-menu-button"
              >
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <!--
                Icon when menu is closed.
              -->
                <svg
                  class="block h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                  />
                </svg>
                <!--
                Icon when menu is open.
              -->
                <svg
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M6 18L18 6M6 6l12 12"
                  />
                </svg>
              </button>
            </div>
            <div
              class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
            >
              <div class="flex flex-shrink-0 items-center">
                <img
                  class="h-8 w-auto"
                  src="../static/tryhackme-logo.svg"
                  alt="Your Company"
                />
              </div>
              <div class="hidden sm:mx-auto sm:pr-20 sm:block">
                <div class="flex space-x-4">
                  <a
                    href="/"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                    >Home</a
                  >
                  <a
                    href="/signup"
                    class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium"
                    aria-current="page"
                    >Sign Up</a
                  >
                  <a
                    href="/signin"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                    >Sign In</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a
              href="/"
              class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
              >Home</a
            >
            <a
              href="/signup"
              class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
              aria-current="page"
              >Sign Up</a
            >
            <a
              href="/signin"
              class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium"
              >Sign In</a
            >
          </div>
        </div>
      </nav>
      <main
        class="max-h-[calc(100vh-4rem)] overflow-auto max-w-5xl mx-auto px-4"
      >
        <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
          <div class="bg-thm-900/100 rounded-md mb-4 p-5">
            <div class="flex flex-col items-center py-5">
              <h1 class="font-medium text-4xl text-gray-100">
                Bucket List App
              </h1>
              <form
                id="form-signin"
                action="/api/signup"
                method="POST"
                class="my-8 mx-auto w-full max-w-md"
              >
                <div class="sm:col-span-4 my-2">
                  <label for="inputName" class="sr-only">Name</label>
                  <input
                    type="text"
                    name="inputName"
                    id="inputName"
                    autocomplete="inputName"
                    class="block w-full rounded-md border-0 py-1.5 bg-white/10 text-white shadow-sm ring-1 ring-inset ring-gray-600 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-500 sm:text-sm sm:leading-6"
                    placeholder="Name"
                    required
                    autofocus
                  />
                </div>
                <div class="sm:col-span-4 my-2">
                  <label for="inputEmail" class="sr-only">Email address</label>
                  <input
                    type="email"
                    name="inputEmail"
                    id="inputEmail"
                    autocomplete="inputEmail"
                    class="block w-full rounded-md border-0 py-1.5 bg-white/10 text-white shadow-sm ring-1 ring-inset ring-gray-600 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-500 sm:text-sm sm:leading-6"
                    placeholder="Email address"
                    required
                    autofocus
                  />
                </div>
                <div class="sm:col-span-4 my-2">
                  <label for="inputPassword" class="sr-only">Password</label>
                  <input
                    type="password"
                    name="inputPassword"
                    id="inputPassword"
                    autocomplete="inputPassword"
                    class="block w-full rounded-md border-0 py-1.5 bg-white/10 text-white shadow-sm ring-1 ring-inset ring-gray-600 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-gray-500 sm:text-sm sm:leading-6"
                    placeholder="Password"
                    required
                  />
                </div>
                <button class="button-primary w-full" type="submit">
                  Sign up
                </button>
              </form>
            </div>
          </div>
          <footer class="footer">
            <p>&copy; Company <span id="copyright-date"></span></p>
          </footer>
        </div>
      </main>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        // Add current year to the copyright date
        const year = new Date().getFullYear();
        document.querySelector("#copyright-date").textContent = year;
        // Toggle the mobile menu
        document
          .querySelector("#mobile-menu-button")
          .addEventListener("click", function () {
            document
              .querySelectorAll("#mobile-menu-button svg")
              .forEach((svg) => {
                svg.classList.toggle("hidden");
                svg.classList.toggle("block");
              });
            document.querySelector("#mobile-menu").classList.toggle("hidden");
          });
        // Submit form
        document
          .querySelector("#form-signin")
          .addEventListener("submit", async function (e) {
            e.preventDefault();
            console.log(new URLSearchParams(new FormData(e.target)).toString());
            const res = await fetch("/api/signup", {
              body: new URLSearchParams(new FormData(e.target)).toString(),
              method: "POST",
              headers: {
                "Content-Type": "application/x-www-form-urlencoded",
              },
            });
            console.log(await res.json());
          });
      });
    </script>
  </body>
</html>
